default:
    suites:
        default:
            contexts:
                - behatch:context:browser
                - behatch:context:debug
                - behatch:context:system
                - behatch:context:json
                - behatch:context:table
                - behatch:context:rest
                - behatch:context:xml
                - Behat\MinkExtension\Context\MinkContext
                - App\Tests\Behat\Context\UserContext

    extensions:
        FriendsOfBehat\SymfonyExtension:
            bootstrap: "tests/bootstrap.php"
            kernel:
                class: App\Kernel
        Behatch\Extension: ~
        Behat\MinkExtension:
            sessions:
                default:
                    symfony: ~
